body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.mybutton {
	-moz-box-shadow: 3px 3px 5px 0px black;
	-webkit-box-shadow: 3px 3px 5px 0px black;
	box-shadow: 3px 3px 5px 0px black;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba) );
	background:-moz-linear-gradient( center top, #ededed 5%, #bab1ba 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba');
	background-color:#ededed;
	-webkit-border-top-left-radius:16px;
	-moz-border-radius-topleft:16px;
	border-top-left-radius:16px;
	-webkit-border-top-right-radius:16px;
	-moz-border-radius-topright:16px;
	border-top-right-radius:16px;
	-webkit-border-bottom-right-radius:16px;
	-moz-border-radius-bottomright:16px;
	border-bottom-right-radius:16px;
	-webkit-border-bottom-left-radius:16px;
	-moz-border-radius-bottomleft:16px;
	border-bottom-left-radius:16px;
text-indent:0;
	display:inline-block;
	color:#3a8a9e;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
height:37px;
	line-height:37px;
width:130px;
	text-decoration:none;
	text-align:center;
  text-shadow:0px 0px 0px #e1e2ed;
  margin-top: 0px;
  position: relative;
  top: 0px;
  margin-bottom: 20px;
  border: 7px solid black;
  
}.mybutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #bab1ba 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed');
	background-color:#bab1ba;
}.mybutton:active {
	position:relative;
	top:1px;}